<html>
<div class='footer'>
    <div class='container full grid'>
        <div class='branding'>
            <h4><%= client.user.username %></h4>
            <p>Copyright &copy; 2021-2022</p>
        </div>
        <div class='flex'>
            <div class='footernav'>
                <ul>
                    <li><a class='button' href='/'><span>Home</span></a></li>
                    <li><a class='button' href='/commands'><span>Commands</span></a></li>
                    <li><a class='button' href='/docs'><span>Information</span></a></li>
                </ul>
            </div>
            <div class='footernav'>
                <ul>
                    <li><a class='button' href='/donation' target="_blank"><span>Donation</span></a></li>
                    <li><a class='button' href='/support'><span>Support Server</span></a></li>
                    <li><a class='button' href='/invite'><span>Invite <%= client.user.username %></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>